name: ".NET Core Build Pipeline"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.5.0'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
        useConfigFile: true
        configFilePath: ./GitVersion.yml

    - name: Display SemVer
      run: |
        echo "SemVer: $GITVERSION_SEMVER"

    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.103

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Common Connector - Pack
      working-directory: ./src/AutomationConnectors.Common/
      run: dotnet pack AutomationConnectors.Common.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"

    - name: Common Connector - Push
      working-directory: ./src/AutomationConnectors.Common/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: AzDevOps Connector - Determine Version
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
        useConfigFile: true
        configFilePath: ./src/AutomationConnectors.AzDevOps/GitVersion.yml

    - name: AzDevOps Connector - Pack
      working-directory: ./src/AutomationConnectors.AzDevOps/
      run: dotnet pack AutomationConnectors.AzDevOps.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: AzDevOps Connector - Push
      working-directory: ./src/AutomationConnectors.AzDevOps/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: VersionOne Connector - Pack
      working-directory: ./src/AutomationConnectors.VersionOne/
      run: dotnet pack AutomationConnectors.VersionOne.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: VersionOne Connector - Push
      working-directory: ./src/AutomationConnectors.VersionOne/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Confluence Connector - Pack
      working-directory: ./src/AutomationConnectors.Confluence/
      run: dotnet pack AutomationConnectors.Confluence.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: Confluence Connector - Push
      working-directory: ./src/AutomationConnectors.Confluence/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Proget Connector - Pack
      working-directory: ./src/AutomationConnectors.Proget/
      run: dotnet pack AutomationConnectors.Proget.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: Proget Connector - Push
      working-directory: ./src/AutomationConnectors.Proget/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: SonaType Connector - Pack
      working-directory: ./src/AutomationConnectors.SonaType/
      run: dotnet pack AutomationConnectors.SonaType.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: SonaType Connector - Push
      working-directory: ./src/AutomationConnectors.SonaType/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Octopus Connector - Pack
      working-directory: ./src/AutomationConnectors.Octopus/
      run: dotnet pack AutomationConnectors.Octopus.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: Octopus Connector - Push
      working-directory: ./src/AutomationConnectors.Octopus/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Exchange Connector - Pack
      working-directory: ./src/AutomationConnectors.Exchange/
      run: dotnet pack AutomationConnectors.Exchange.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: Exchange Connector - Push
      working-directory: ./src/AutomationConnectors.Exchange/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

    - name: Fortify Connector - Pack
      working-directory: ./src/AutomationConnectors.Fortify/
      run: dotnet pack AutomationConnectors.Fortify.csproj --output nuget-packages --configuration Release /p:Version="$GITVERSION_SEMVER";AssemblyVersion="$GITVERSION_SEMVER"
      
    - name: Fortify Connector - Push
      working-directory: ./src/AutomationConnectors.Fortify/
      run: dotnet nuget push nuget-packages/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
